.intr{

    text-align: center;
    margin-top: 40px;
    color: #334a5a;

}

#img2{

    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.heading{

    color: #334a5a;
    margin-left: 30px;
    margin-top: 30px;

}

.tex{

    color: rgba(20,188,156,255);
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 50px;

}

.heading1{

    color: #334a5a;
    margin-left: 30px;
    margin-top: 60px;
    

}

.tex1{

    color: rgba(20,188,156,255);
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;

}