.box1{

    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(20,188,156,255);
    
    width: 600px;
    border-radius: 40px;
    
    padding: 10px;

}

.pp{

    
    font-family: sans-serif;
    margin-top: 21px;
    

}

.fi{

    color: #334a5a;
    margin-left: 30px;
    float: left;
    margin-right: 10PX;

}

body{

    font-family: sans-serif;

}

.navbar {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 100px;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(20,188,156,255);
  }

  .nav-links a {
    color: #334a5a;
    padding: 20px;
    font-size: 20px;
    
  }
  
  .nav-links a:hover {
    color: rgba(20,188,156,255);
    transition: 0.11s ease;
  }
  
  .name {
    font-size: 32px;
    
  }
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  .menu li:hover {
   
    border-radius: 5px;
    transition: 0.11s ease;
    border-bottom: 3px solid rgba(20,188,156,255);    
    
  }
  .menu li {
    padding: 5px 14px;
    list-style-type: none;
  }
  
  a:link { 
    
    text-decoration: none; 
  
  }
  
  
  a:visited { 
  
  text-decoration: none; 
  
  }
  
  
  a:hover { 
  
  text-decoration: none; 
  
  }
  
  
  a:active { 
  
  text-decoration: none; 
  
  }
  .img1{
  height: 70px;
    width: 70px;
    margin-bottom: -5px;
    margin-left: 20px;
    margin-top: 18px;
    float: left;
  }
  
  .hello{
  
  color: rgba(20,188,156,255);
  margin-left: 130px;    
  
  }
  
  body{
  
    font-family: sans-serif;
  
  }

.btn1{

    margin-top: 15px;
    cursor: pointer;
    font-size: 15px;
    background: rgba(20,188,156,255);
    border: 1px solid rgba(20,188,156,255);
    color: #fff;
    padding: 10px 20px;
    margin-left: 44%;   
    border-radius: 100px;
    height: 50px;

}

.btn1:hover{

  background: #33d39b;

}

.li1:hover{

  color: rgba(20,188,156,255);

}

.finaltxt{

  text-align: center;

}